@charset "UTF-8";
/* 어느 홈페이지나 다 가지고 있는 공통적인 부분들 : 주로 헤더랑 푸터같은 것들. */

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: Arial, 'sans-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }


/* 헤더 */

#main_header {
    height: 90px;
    background: orange;
    color: rgb(14, 11, 11);
}

#main_header a {
    color: rgb(14, 11, 11);;
}


#main_header > .gnb_container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#main_header > .gnb_container .logo {
    float: left;
    padding: 20px;
}

#main_header > .gnb_container .gnb > ul {
    overflow: hidden;
}

#main_header > .gnb_container .gnb > ul > li {
    float: left;
    padding: 35px 40px;
}

#main_header > .gnb_container .gnb > ul > li:nth-child(7) {
    float: right;
    padding: 35px 40px;
}



#main_header > .lnb_container { display: none; }
