@charset "UTF-8";

/* 초기화 */
* { margin: 0; padding: 0; }
body { font-family: sans-serif; }
li { list-style: none; }
a { text-decoration: none; }
img { border: 0; }

/* 헤더 */

#main_header {
    width: 960px;
    margin: 0 auto;

    position: relative;
    height: 160px;
}

#main_header > title {
    position: absolute;
    left: 20px; top: 30px;
}

#main_header > #main_gnb {
    position: absolute;
    right: 0; top: 0px;
}

#main_header > #main_lnb {
    position: absolute;
    right: 0px; bottom:10px;
}

/* 타이틀 */

#title {
    font-family: 'Aclonica', sans-serif;
}