@charset "UTF-8";
/* 어느 홈페이지나 다 가지고 있는 공통적인 부분들 : 주로 헤더랑 푸터같은 것들. */

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: Arial, 'sans-serif';
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }


/* 헤더 */
header {
    display: block;
    width: 100%;
    min-height: 190px;
    background: #fef100;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}

.container > .logo {
    /* position: absolute; 굳이 공식대로 안해도.
    margin: 0 auto; */
    max-width: 100%;
    text-align: center;
    /* overflow: hidden; */
}


nav .brand_logo {
    display: block;
    padding: 16px 0 0;
    /* height: 114px;
    line-height: 11px;
    text-align: center;
    margin: 0 auto; */
}

.container > .logo > div { 
    /* float: right;  */
    position: absolute;
    top: 10px;
    right: 10px;
}

.container > ul { 
    overflow: hidden;

    position: absolute;
    /* top: 80px; */
    margin: 0 auto;
    width: 100%;
    height: 77px;
    
} 

.container > ul > li { 
    float: left;
    /* 크기 지정 */
    text-align: center;
    width: 199px;
    height: 77px;
    background: #fef100;
    border-right: 1px solid black;
}

.container > ul > li:last-child { border-right: none; }

.gnb_menu::after {
    content: '';
    clear: both;
    display: block;
}
.container > ul > li a { 
    color: black;
    line-height: 77px;
}

header .gnb_trigger {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}






/* 푸터 */
/* 푸터-탑 */

#footer_top { 
    width: 100%;
    background: #f7f7f7;
    height: 64px;
    border: 1px solid #f7f7f7;
}


#footer_top > #footer_bar { 
    max-width: 1200px;
    margin: 0 auto;
}

#footer_top > #footer_bar > .footer_left {
    overflow: hidden;
    float: left;
    width: 80%; 
}
#footer_top > #footer_bar > .footer_left > li { 
    float: left; 

}
#footer_top > #footer_bar > .footer_left > li a {
    line-height: 64px;
    padding: 20px;
    font-size: 14px;
}

/* 푸터-sns */
#footer_top > #footer_bar > .footer_right {
    overflow: hidden;
    float: right;
    /* width: 20%;  */
}
#footer_top > #footer_bar > .footer_right > li { 
    float: left; 
}

#footer_top > #footer_bar > .footer_right > li > a {
    line-height: 64px;
    padding: 10px;
    font-size: 14px;
}


/* 푸터-로고 */
#footer_bottom {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
    overflow: hidden;
}

#footer_bottom > .footer_title {
    margin: 20px 0;
    width: 177px;

    float: left;
}

#footer_bottom > .bottom_rights {
    margin-top: 30px;
    height: 130px;
    width: 80%;
}
#footer_bottom > .bottom_rights > ul { 
    overflow: hidden; 
    
}
#footer_bottom > .bottom_rights > ul > li { 
    float: left; 
    font-size: 14px;
    line-height: 23px;
    padding: 0 15px;

}

#footer_bottom > .bottom_rights > ul > .block {
    clear: both;
    display: block;
}


#footer_bottom > .bottom_rights > .wa_mark { 
    position: absolute;
    top: 24px;
    right: 5px;
}

.footer_copyright {
    clear: both;
    font-size: 14px;
    padding: 0 15px;
}








@media screen and (max-width: 640px) {
    header {
        min-height: 94px;
    }

    .container {
        min-height: 94px;
    }

    nav .brand_logo img {
        height: 62px;
    }

    .container > ul { display: none; }

    header .gnb_trigger {
        display: block;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container > ul > li {
        width: 16%;
    }
}

@media screen and (min-width: 1024px) {
    .container > ul > li {
        width: 16%;
    }
}