@charset "UTF-8";

/* 메인 */

/* 큰이미지 (width:100%  반응형:609x420) */

.main_roll {
    position: relative;
    height: auto;
}

.main_roll > .box_wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* 반응형이미지 반응형:609x420*/
.main_roll >.box_trigger {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: none;
}




/* 메인-바로가기 */

#more_view {
    
    margin: 20px 0;
    width: 100%;
}

#more_view > .container {
    /* position: relative; */
    overflow: hidden;
    max-width: 1200px;
}

#more_view > .container > .square_box {
    float: left;
    box-sizing: inherit;  
    
    width: 24%;
    height: 25%;
    background: cornsilk;
    
    margin-right: 6px;
}

.container::after {
    content: '';
    clear: both;
    display: table;
}

#more_view > .container > .square_box:last-child {
    margin-right: 0;
}


/* 메인-뉴스 */
#news_view {

    width: 100%;
}

#news_view > .news_container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}

#news_view > .news_container > .news_square {
    float: left;
}

.news_container::after {
    content: '';
    clear: both;
    display: block;
}

.news_square {
    width: 24%;
    height: 23%;
    background: cornsilk;
    
    margin-right: 6px;
}

#news_view > .news_container > .news_square:last-child {   
    margin-right: 0;
}


/* 메인-이벤트 */

#main_event {
    margin-top: 50px;
    width: 100%;
}

#main_event > .event_container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;

    width: 100%;
}

#main_event > .event_container > .box_event {
    float: left;
    height: auto;

    /* width: 35%; */
    height: auto;
}


.event_container::after {
    content: '';
    clear: both;
    display: block;
}

.event_container > .box_event:nth-of-type(3) {
    margin-top: 25px;

    /* width: 25%; */
}

/* #main_event > .event_container > .box_event:nth-of-type(2) {
    width: 25%;
    height: auto;
} */


/* 메인_인기상품 */

#best_main {
    background: url(../img/visual_06.jpg) no-repeat center;
    height: 600px;

    margin-top: 70px;
}

.best_container { 
    max-width: 1200px;
    margin: 0 auto; 
}

.best_container h1 {
    text-align: center;
    width: 100%;
}

.best_container p {
    text-align: center;
    width: 100%;
}

#best_main > .best_container > .best-slide {
    width: 100%;
    margin-top: 80px;
}

.best_container > .best_box {
    overflow: hidden;
}

.best_box > .best_square {
    width: 219px;
    height: 319px;
    background: white;
    border: 1px solde white;
    margin: 7px 5px 14px;

    float: left;
}


/* 메인_추천레시피 */

#main_okitchen {
    background: #fffee5;
    padding-bottom: 50px;;
    height: 537px;
}

#main_okitchen > .mian_okit_slide {
    max-width: 1200px;
    margin: 0 auto;
}

#main_okitchen > .mian_okit_slide > .okit_title {
    padding: 40px 0;
}

#main_okitchen > .mian_okit_slide > .okit_title h1 {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 20px;

    text-align: center;
}

#main_okitchen > .mian_okit_slide > .okit_title p {
    text-align: center;
    font-size: 16px;
}



/* 메인_소셜SNS */

#main_social {}

.social_container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.social_container > .social_title {
    margin-top: 35px;
}

.social_container > .social_title h1 {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 20px;

    text-align: center;
}

.social_container > .social_title p {
    text-align: center;
    font-size: 16px;
    margin: 16px 0;
}

.social_container > .social_bar {
    width: 100%;
    
    background: gainsboro;
}

.social_container > .social_bar > ul { 
    overflow: hidden;
    width: 100%;
    /* height: 60px;  */
}

.social_container > .social_bar > ul > li { 
    float: left;
    /* width: 25%; */
    /* height: 60px;  */
    line-height: 60px;
    text-align: center; 

} 

.indicator { display: none; }

.social_container > .social_bar > ul > li a {
    padding: 0;
    font-weight: 700;
    color: white;
}


/* sns이미지부분 */
.social_content { 
    overflow: hidden;

    margin: 14px 0 20px 8px;
}

.social_content > .social_square { 
    float: left;

    width: 25%;
    /* margin: 14px 0 20px 0; */
    
}

.social_content > .social_square img {
    max-width: 100%;
    height: auto;

}


.social_content > .social_square p {
    font-size: 14px;
    color: #666;
    width: 100%;
}




















@media screen and (max-width: 640px) {
   .main_roll > .box_wrap {
        display: none;
   }

  .main_roll > .box_trigger {
    display: block;
  }


  #more_view > .container > .square_box:nth-of-type(2) {
      display: block;
  }

  
  .best_container > .best-slide {
    overflow: hidden;
    width: 475px;
}






}



}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    
}

@media screen and (min-width: 1024px) {
    #top_wrap { 
        margin: 0 auto;
    }



    .best_container > .best-slide {
        overflow: hidden;
        width: 705px;
    }









    

}