@charset "UTF-8";
/* 어느 홈페이지나 다 가지고 있는 공통적인 부분들 : 주로 헤더랑 푸터같은 것들. */

/* 초기화 */
* { 
    margin: 0; padding: 0; 
    font-family: Arial, 'sans-serif';
}
html { 
    font-size: 62.5%;
    background-color: black;
}
body {
    font-size: 1.5rem;
    color:white;
}
a { text-decoration: none !important; }
img { border: 0; }
ul { list-style: none; }
